html {
scroll-behavior: smooth;
}
body{
margin: 0px;
padding: 0px;
background-color: black;
color: gold;
}
::-webkit-scrollbar {
width: 20px;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px black;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: gold;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: goldenrod;
}
#up1 {
width: 100px;
height: 100px;
position: fixed;
bottom: 0px;
right: 0px;
cursor: pointer;
display: none;
overflow-x: hidden;
z-index: 100;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 100;
top: 0;
left: 0;
background-color: black;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
display: none;
box-shadow: inset 0px 0px 20px 0px gold;
}
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 30px;
color: white;
display: block;
transition: 0.3s;
cursor: pointer;
}
.sidenav a:hover {
color: gold;
}
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 40px;
margin-left: 50px;
}
#dl1{
width: 20%;
height: 100%;
position: fixed;
background-color: black;
box-shadow: inset 0px 0px 20px 0px goldenrod;
animation-name: zoom;
animation-duration: 2s;
}
#dl1 img{
width: 95%;
height: 30%;
position: absolute;
top: 5%;
border: 6px gold solid;
border-radius: 20px 50px 20px 50px;
}
#dl1 a{
width: 95%;
height: auto;
background-color: gold;
display: block;
margin-top: 5%;
position: relative;
top: 35%;
color: black;
font-size: 20px;
text-align: center;
text-decoration: none;
border: 6px white solid;
border-radius: 50px;
cursor: pointer;
}
#dl1 a:hover{
color: white;
background-color: goldenrod;
}
#dl1 p{
font-size: 20px;
position: relative;
color: gold;
top: 35%;
text-align: center;
}
#db{
width: 80%;
height: auto;
background-color:  rgb(46, 41, 41);
position: absolute;
margin-left: 20%;
}
#wloc{
font-size: 50px;
font-family: monospace;
color: gold;
text-align: center;
animation: wloc 1s ease-in-out infinite alternate;
margin-top: 50px;
}
@keyframes wloc {
from {
text-shadow: 0px 0px 10px black;
}
to {
text-shadow: 0px 0px 10px white;
}
}
#ismi{
width: 200px;
height: 200px;
border: 7px gold solid;
border-radius: 200px;
margin-top: 50px;
display: none;
animation-name: zoom;
animation-duration: 1s;
}
#psmp{
font-size: 30px;
color: gold;
display: none;
}
#sp{
display: none;
font-size:30px;
cursor:pointer; 
color:gold; 
position: absolute; 
z-index: 90; 
box-shadow: 5px 5px 5px 5px black;
}
#crd{
width: 500px;
height: 500px;
margin: auto;
box-shadow: 0px 0px 20px 0px gold;
border-radius: 20px 50px 20px 50px;
}
.ai{
width: 500px;
height: 500px;
display: none;
position: absolute; 
animation-duration: 1s;
animation-name: zoom;
box-shadow: 0px 0px 20px 0px gold;
border-radius: 20px 50px 20px 50px;
}
#nb{
position: relative;
margin-top: 230px;
float: right;
cursor: pointer;
font-size: 40px;
color: black;
display: inline-flex;
animation: wloc 1s ease-in-out infinite alternate;
}
#bb{
position: relative;
margin-top: 230px;
cursor: pointer;
font-size: 40px;
color: black;
display: inline-flex;
animation: wloc 1s ease-in-out infinite alternate;
}
#nb:hover, #bb:hover{
color: gold;
background-color: black;
border-radius: 30px;
}
#dwcv{
width: 200px;
height: 50px;
color: black;
background-color: gold;
cursor: pointer;
margin-left: 5%;
font-size: 25px;
border: 5px white solid;
border-radius: 10px 20px 10px 20px;
}
#dwcv:hover{
color: white;
background-color: goldenrod;
border: 5px black solid;
}
.grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
margin-top: 50px;
}
.grid div{
width: 100%;
height: 350px;
cursor: pointer;
text-align: center;
}
.grid div img{
width: 100%;
height: 350px;
transition: transform .5s;
border-radius: 50px 20px 50px 20px; 
z-index: 1;
position: relative;
display: inline;
}
.grid div img:hover{
transform: scale(0.8);
box-shadow: 0px 0px 20px 20px gold;
}
.grid0 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
margin-top: 50px;
}
.grid0 div{
width: 100%;
height: 350px;
cursor: pointer;
}
.grid0 div img{
width: 100%;
height: 350px;
transition: transform .5s;
border-radius: 50px 20px 50px 20px; 
position: relative;
}
.grid0 div img:hover{
transform: scale(0.8);
box-shadow: 0px 0px 20px 20px gold;
}
#dscft{
width: 100%;
height: 100%;
z-index: 200;
position: fixed;
background-color: black;
display: none;
animation: wloc 1s ease-in-out infinite alternate;
}
#dscft img{
animation-name: zoom;
animation-duration: 1s;
}
#dscft div{
animation-name: zoom;
animation-duration: 1s;
}
@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}
.grid2{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
margin-top: 50px;
}
.grid2 div{
width: 100%;
height: 350px;
cursor: pointer;
}
.grid2 div img{
width: 100%;
height: 350px;
transition: transform .5s;
border-radius: 50px 20px 50px 20px; 
position: relative;
}
.grid2 div img:hover{
transform: scale(0.8);
box-shadow: 0px 0px 20px 20px gold;
}
.psp{
opacity: 0;
position: relative;
display: inline;
z-index: 2;
font-size: 30px;
bottom: 25%;
color: black;
width: 100%;
}
.grid div:hover .psp{
opacity: 1;
box-shadow: inset 0 0px 20px 10px white;
transition: .5s ease;
}
@media screen and (max-width: 992px) {
.sidenav {
display: block;
}
#dl1{
display: none;
}
#db{
width: 100%;
margin-left:0px;
}
#ismi{
display: block;
}
#psmp{
display: block;
}
#sp{
display: block;
}
#dscft img{
width: 100% !important;
left: 0% !important;
}
#dscft div{
width: 100% !important;
left: 0% !important;
height: 500px !important;
}
#dscft div img{
width: 100% !important;
height: auto !important;
}
#wloc{
font-size: 30px;
}
}
@media screen and (max-width: 600px) {
#crd{
width: 90%;
}
.ai{
width: 90%;
}
.sidenav {
display: block;
}
#dl1{
display: none;
}
#db{
width: 100%;
margin-left:0px;
}
#sp{
display: block;
}
#dscft img{
width: 100% !important;
left: 0% !important;
height: 500px !important;
}
#dscft div{
width: 100% !important;
left: 0% !important;
height: 500px !important;
}
#dscft div img{
width: 100% !important;
height: auto !important;
}
#wloc{
font-size: 20px;
}
.grid {
grid-template-columns: repeat(1, 1fr);
}
.grid2{
grid-template-columns: repeat(1, 1fr);
}
.grid0{
grid-template-columns: repeat(1, 1fr);
}
}